html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.essay-font{
    font-family: 'Open Sans', sans-serif;
}
.myslider{
    z-index: -1;
}

.myfrontorder .field-order-language_id #order-language_id{
    display: none;
}

.articles li{
    list-style-type: none;
    margin-bottom: 7px;
}

.articles li a{
    font-size: 15px;
}


.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
    background-color: #d7e06f;
}

.stat-nav li{
float: left;
 display: inline-block;
}
#navigation ul
{
    margin: 0;
    padding: 0;
}

#navigation ul li
{
    list-style-type: none;
    display: inline;
}

#navigation ul li a
{
    font-size: 15px;
}

#navigation li:not(:first-child):before {
    content: " | ";
}

.pay-cards li{
    list-style-type: none;
    display: inline-block;
}
#reserveModal .modal-dialog  {width:33%;}

.navigation ul
{
    margin: 0;
    padding: 0;
}

#navigation ul>li
{
    list-style-type: none;
    display: inline-block;
}

#navigation li:not(:first-child):before {
    content: " | ";
}

.choose-body{
    text-align: justify;
    text-justify: inter-word;
}

.rights ul
{
    margin: 0;
    padding: 0;
}

.rights ul li
{
    list-style-type: none;
    display: inline-block;
}

.rights li:not(:first-child):before {
    content: " | ";
}

#myblogs ul>li:not(:first-child):before {
    content: " | ";
    color: #a1a9b3;
}

.share-class{
    list-style-type: none;
    display: inline-block;
    margin-left: 20px;
}

#stats ul{
    margin: 0;
    padding: 0;
}


#revisions {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#revisions td, #revisions th {
    border: 1px solid #ddd;
    padding: 8px;
}

#revisions tr:nth-child(even){background-color: #f2f2f2;}

#revisions tr:hover {background-color: #ddd;}

#revisions th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #adadad;
    color: white;
}
/* mixin for multiline */
/*.cut-text {*/
    /*display: block;*/
    /*display: -webkit-box;*/
    /*height: 90.2px;*/
    /*margin: 0 auto;*/
    /*font-size: 16px;*/
    /*line-height: 1.4;*/
    /*-webkit-line-clamp: 4;*/
    /*-webkit-box-orient: vertical;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
/*}*/
/*.cut-text {*/
    /*overflow: hidden;*/
    /*position: relative;*/
    /*line-height: 1.2em;*/
    /*max-height: 7em;*/
    /*text-align: justify;*/
    /*margin-right: -1em;*/
    /*padding-right: 1em;*/
/*}*/
/*.cut-text:before {*/
    /*content: '...';*/
    /*position: absolute;*/
    /*right: 0;*/
    /*bottom: 0;*/
/*}*/
/*.cut-text:after {*/
    /*content: '';*/
    /*position: absolute;*/
    /*right: 0;*/
    /*width: 1em;*/
    /*height: 1em;*/
    /*margin-top: 0.2em;*/
    /*background: white;*/
/*}*/
/*.cut-text {*/
    /*text-overflow: ellipsis;*/
    /*overflow: hidden;*/
    /*height: 1.2em;*/
    /*white-space: nowrap;*/
/*}*/

#revisions {
    counter-reset: serial-number;  /* Set the serial number counter to 0 */
}

#revisions td:first-child:before {
    counter-increment: serial-number;  /* Increment the serial number counter */
    content: counter(serial-number);  /* Display the counter */
}

.site-about{
    font-size: 16px;
}
.site-terms{
    font-size: 16px;
}
.site-privacy{
    font-size: 16px;
}
.site-how{
    font-size: 16px;
}

.block-reason {
    padding: 10px;
    border: 1px solid #8c80a1;
    border-radius: 5px;
    text-align: left;
    margin-bottom: 20px;
}

.svg-back {
    background: #dec25b;
    border-radius: 3px;
    border-color: #daa946;
    text-align: center;
    height: 60px;
    line-height: 60px;
}


.testim{
    background-image: url('../images/slides/testimonials.png');
    height: 500px;
}

#stats ul li
{
    list-style-type: none;
    display: inline;
}

.numbers-items:not(:last-child):after {
    content: '';
    position: absolute;
    display: block;
    width: 1px;
    background-color: lightgrey;
    right: 0;
    height: 60px;
    top: 30px;
}

/* navbar */
.navbar-default1 {
    background-color: azure;
    border-color: #E7E7E7;
}
/* Title */
.navbar-default1 .navbar-brand {
    color: #777;
}
.navbar-default1 .navbar-brand:hover,
.navbar-default1 .navbar-brand:focus {
    color: #5E5E5E;
}
/* Link */
.navbar-default1 .navbar-nav > li > a {
    color: #777;
    font-family: 'Open Sans', sans-serif;
}
.navbar-default1 .navbar-nav > li > a:hover,
.navbar-default1 .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default1 .navbar-nav > .active > a,
.navbar-default1 .navbar-nav > .active > a:hover,
.navbar-default1 .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default1 .navbar-nav > .open > a,
.navbar-default1 .navbar-nav > .open > a:hover,
.navbar-default1 .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* Caret */
.navbar-default1 .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default1 .navbar-nav > .dropdown > a:hover .caret,
.navbar-default1 .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default1 .navbar-nav > .open > a .caret,
.navbar-default1 .navbar-nav > .open > a:hover .caret,
.navbar-default1 .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* Mobile version */
.navbar-default1 .navbar-toggle {
    border-color: #DDD;
}
.navbar-default1 .navbar-toggle:hover,
.navbar-default1 .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default1 .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default1 .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
        font-family: 'Open Sans', sans-serif;
    }
    .navbar-default1 .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default1 .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}


/* navbar */
.navbar-default2 {
    background-color: white;
    border-color: #0f0f0f;
}
/* Title */
.navbar-default2 .navbar-brand {
    color: #777;
}
.navbar-default2 .navbar-brand:hover,
.navbar-default2 .navbar-brand:focus {
    color: #5E5E5E;
}
/* Link */
.navbar-default2 .navbar-nav > li > a {
    color: #777;
    font-family: 'Open Sans', sans-serif;
}
.navbar-default2 .navbar-nav > li > a:hover,
.navbar-default2 .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default2 .navbar-nav > .active > a,
.navbar-default2 .navbar-nav > .active > a:hover,
.navbar-default2 .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default2 .navbar-nav > .open > a,
.navbar-default2 .navbar-nav > .open > a:hover,
.navbar-default2 .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* Caret */
.navbar-default2 .navbar-nav > li > .dropdown-menu{
    background-color: azure;
    border-color: #adadad;
}
ul#w3 .dropdown-menu >li{
    border-bottom-color: black;
}

.navbar-default2 .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default2 .navbar-nav > .dropdown > a:hover .caret,
.navbar-default2 .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default2 .navbar-nav > .open > a .caret,
.navbar-default2 .navbar-nav > .open > a:hover .caret,
.navbar-default2 .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* Mobile version */
.navbar-default2 .navbar-toggle {
    border-color: #DDD;
}
.navbar-default2 .navbar-toggle:hover,
.navbar-default2 .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default2 .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    .navbar-default2 .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
        font-family: 'Open Sans', sans-serif;
    }
    .navbar-default2 .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default2 .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}

.footer-link a{
    color: #fdfdfd;
}

.footer-link a:hover{
    color: #dec25b;
}

.pull-right li .f-link{
    color: #ffffff;
}

.pull-right li .f-link:hover{
    color: #dec25b;
}


#files {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#files td, #files th {
    border: 1px solid #ddd;
    padding: 8px;
}

#files tr:nth-child(even){background-color: #f2f2f2;}

#files tr:hover {background-color: #ddd;}


/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.order-details-menu > .active{
    background-color: #8F8F8F;
}

.order-details-menu > li >a{
    color: white;
}
.order-details-menu > li > a > strong{
    margin-left: 10px;
    margin-right: 10px;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}


#files th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #adadad;
    color: white;
}
.wrap > .container {
    padding: 70px 15px 20px;
}
.file-create, .order-view, .message-index, .myorder{
    margin-top: 40px;
}
.order-details-menu > a:hover{
    background-color: #adadad;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap > .mycontent{
    padding: 0 70px 20px 70px;
}

.wrap > .myfinance{
    padding: 0 70px 70px 70px;
}
.wrapper a button .active{
    background-color: lightgrey;
}


#transactions {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#transactions td, #transactions th {
    border: 1px solid #ddd;
    padding: 8px;
}

#transactions tr:nth-child(even){background-color: #f2f2f2;}

#transactions tr:hover {background-color: #ddd;}

#transactions th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #adadad;
    color: white;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}
.superslide{
    margin-top: 90px;
    margin-bottom: 90px;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/*Bootstrap button outline override*/
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #dec25b;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #ecdf7c;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

.customPostQuote__block {
    padding: 0 39px;
    margin: 50px 0;
    border-left: 2px solid rgba(140, 171, 202, 0.5);
    color: #7B7B7B;
    font-family: Lato, SansSerif, "Open Sans";
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    max-width: 100%;
    user-select: none;
}

.paper-body__block {
    box-shadow: 0 0 20px rgba(27, 57, 96, 0.1);
    padding: 49px 42px 49px 46px;
    position: relative;
    margin-bottom: 20px;
    font-family: "Times New Roman", "Bitstream Charter", Times, serif;
    font-size: 18px;
    color: #000;
    font-weight: normal;
    overflow: hidden;
    transition: all .5s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
    .wrap > .mycontent{
        padding: 0 5px 0 5px;
    }
    .wrap > .myfinance{
        padding: 0 5px 0 5px;
    }
}

@media(max-width:767px) {
    .site-index1 {
     padding: 0 20px 0 20px;

    }
    .site-index2{
        padding: 0 5px 0 5px;
    }
    .superslide{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #reserveModal .modal-dialog  {width:100%;}
}


.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
